@import "../../../vars.scss";

.minesweeper_window {

  .games_bar {
    background-color: $primary-color;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    select {
      background-color: $primary-light;
      border: 1px solid $primary-light;
      border-radius: 5px;
      width: 90px;
      height: 25px;
      align-self: center;
      font-size: 14px;
    }
  }

  p {
    color: $primary-light;
  }

  .games_stats {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 22px;
    &_flags {
      display: flex;
      gap: 4px;
      .bi-flag-fill {
        color: #b6301e;
      }
    }
    &_time {
      .bi-stopwatch-fill {
        color: #fdb034;
      }
      display: flex;
      gap: 3px;
    }

    &_icons {
      width: 25px;
      height: 25px;
    }
  }

  .reset_button{
    align-self: center;
    cursor: pointer;
    .bi-arrow-counterclockwise {
      color: $primary-light;
      width: 25px;
      height: 25px;
    }
  }

  $width : 45px;
    .tile{
        width: $width;
        height: $width;
        .hidden,.flag,.mined,.empty{
            width: $width;
            height: $width;
            font-size: calc($width - 6px);
        }
    }
.tile{
    background-color: #aad751;
}

.tile:hover{
    background-color: #c9f07c;
}

.flag, .mined, .empty{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.empty{
    background-color: #e5c29f;
}

}
